@import "fonts.css";

html {
  height: 100%;
}

body {
  height: 100%;
  font-family: 'HelveticaNeue', 'Helvetica Neue', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  font-family: 'SoyuzGrotesk', 'Soyuz Grotesk', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-weight: 700;
  cursor: pointer;
  outline: none;
  border: none;
  background: transparent;
}

#root {
  height: 100%;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  color: #FFF6EF;
}

p, span, a, h3, h2, h1, h4, h5, button{
  line-height: 121%;
  letter-spacing: -0.03em;
}

h3, h2, h1, h4, h5, button{
  line-height: 100%;
  font-family: 'SoyuzGrotesk', 'Soyuz Grotesk', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-weight: 700;
}

input {
  font-family: 'HelveticaNeue', 'Helvetica Neue', 'Aeroport', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-weight: 400;
}

a {
  color: inherit;
}

a:visited {
  color: inherit;
}

* {
  -webkit-tap-highlight-color: transparent;
}